html,
body {
  margin: 0;
  padding: 0;

  color: var(--black);
  background-color: #e5e5e5;

  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3b434e;
  --gray: #b1b1b1;
  --gray2:#A4a4a4;
  --gray-light: #ebebeb;
  --gray-dark: #787d85;
  --white: white;
  --primary: #7653fc;
  --primary-hover: #6344df;
  --red: #de0000;
  --green-light: #c8f8e4;
  --green: #1dc37e;
  --orange: #fc836d;
  --font-famaly: "Noto Sans KR", sans-serif;
}
